extends layout

block content
 h1= title
 button.btn.bg-gray-dark.white-color.pull-right(type="button" onclick="window.location.href = '/'")
    h7 Back
 div 
   table.table.table-hover
    thead
        tr
          th Reference
          th Description
          th Error
    tbody
      each value in values
        tr
          td=value.Reference
          td=value.Description
          td=value.error